# Arrays, lists and tuples

## Arrays

> Array is a container holding elements of the same kind and with a given fixed size. Key terms <br>
- Element : Each item stored in an array is an element <br>
- Index : Location of the element in the array starting from 0

### Creating an array

In [1]:
from array import *

# Syntax
#arrayName = array(typecode, [Initializers])
# Different typecodes are available here

In [12]:
# create array of element type signed integer
array_si = array('i', [10,20,30,40,50])
print(array_si)

array('i', [10, 20, 30, 40, 50])

### Basic operations supported by arrays

- Traverse : access and process if need to, each element of the array one by one
- Access : access an element at the given index
- Insert : insert a new element at the given index
- Delete : delete an element at the given index
- Search : search in the array given a value
- Update : update an element at the given index

### Traverse

In [5]:
for x in array_si:
    print(x)

10
20
30
40
50

### Access elements

In [7]:
# Access, the third element
print(array_si[2])

30

In [8]:
# Access, the 6th element, non existent
print(array_si[5])

IndexError: array index out of range

### Insert elements

In [13]:
# Insert. Insert 100 at the 3rd position
array_si.insert(2, 100)
print(array_si)

array('i', [10, 20, 100, 30, 40, 50])

### Delete elements

In [14]:
# Delete. Delete the element 100 (only the first occurrence of 100)
array_si.remove(100)
print(array_si)

array('i', [10, 20, 30, 40, 50])

In [16]:
# Trying to remove a non existent element gives error
array_si.remove(100)

ValueError: array.remove(x): x not in array

In [17]:
# Use pop to remove the element from the array and return it
popped = array_si.pop(4)

In [18]:
print(popped)

50

In [19]:
print(array_si)

array('i', [10, 20, 30, 40])

In [20]:
# by default the index in pop function is '-1' which points to the last element in the array
popped = array_si.pop()

In [21]:
print(popped)

40

In [22]:
print(array_si)

array('i', [10, 20, 30])

### Search

In [23]:
# Search. Search the first occurence of an element in the array and return the index
array_si.index(20)

1

In [24]:
#Update. Update the element at a given index
array_si[1] = 55
print(array_si)

array('i', [10, 55, 30])

In [27]:
# array concatenation
array_si + array_si

array('i', [10, 55, 30, 10, 55, 30])

In [29]:
# replication
array_si * 3

array('i', [10, 55, 30, 10, 55, 30, 10, 55, 30])

## Lists

> Python lists can be much more versatile as in it can contain elements of multiple types. The elements are comma separated and encapsulated in square brackets

In [25]:
# example
list1 = ["hi", 23, "456", "hello world"]

In [30]:
# Access elements
list1[0]

'hi'

### List slicing

In [32]:
# Slicing the list
# the index after the colon is excluded while slicing
list1[1:4]

[23, '456', 'hello world']

In [38]:
# elements except first two
list1[2:]

['456', 'hello world']

In [40]:
# slice elements till 3rd element, 4th element at index 3 is excluded
list1[:3]

['hi', 23, '456']

In [42]:
# slicing with a step function of 2, starting from the first element
list1[::2]

['hi', '456']

In [44]:
# slicing using a step function of 2 from the element at index '1'
list1[1::2]

[23, 'hello world']

### Update elements in a list

In [45]:
list1[0] = "hello"
list1[0]

'hello'

### Length of list

In [47]:
len(list1)

4

### List concatenation

In [48]:
[1,2,3] + [4,5,6,7]

[1, 2, 3, 4, 5, 6, 7]

### List replication

In [49]:
["hello"] * 10

['hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello']

### List traverse

In [50]:
for x in list1:
    print(x)

hello
23
456
hello world

### List search element

In [51]:
"hello world" in list1

True

### List remove element

In [52]:
list1.remove("hello")

In [53]:
list1

[23, '456', 'hello world']

### List pop

In [54]:
# same as an array

In [55]:
popped_el = list1.pop(0)

In [56]:
print(popped_el)

23

In [57]:
print(list1)

['456', 'hello world']

### List comprehension

In [59]:
# Concise way of creating a list
squares = [x*x for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [60]:
cubes_of_even = [x**3 for x in range(20) if x%2 == 0]
cubes_of_even

[0, 8, 64, 216, 512, 1000, 1728, 2744, 4096, 5832]

In [62]:
# Or create list from another list
odd_squares = [x for x in squares if x%2 == 1]
odd_squares

[1, 9, 25, 49, 81]

In [63]:
# This is equavalent to the code below
odd_squares = []
for x in squares:
    if x%2 == 1:
        odd_squares.append(x)
odd_squares

[1, 9, 25, 49, 81]

In [65]:
# list comprehension can contain multiple for loops
cart_pro = [(x,y) for x in ['a', 'b', 'c'] for y in ['d', 'e', 'f', 'a'] if x!=y]
cart_pro

[('a', 'd'),
 ('a', 'e'),
 ('a', 'f'),
 ('b', 'd'),
 ('b', 'e'),
 ('b', 'f'),
 ('b', 'a'),
 ('c', 'd'),
 ('c', 'e'),
 ('c', 'f'),
 ('c', 'a')]

In [66]:
# This is equavalent to the code below
cart_pro = []
for x in ['a', 'b', 'c']:
    for y in ['d', 'e', 'f', 'a']:
        if x!=y:
            cart_pro.append((x,y))
cart_pro

[('a', 'd'),
 ('a', 'e'),
 ('a', 'f'),
 ('b', 'd'),
 ('b', 'e'),
 ('b', 'f'),
 ('b', 'a'),
 ('c', 'd'),
 ('c', 'e'),
 ('c', 'f'),
 ('c', 'a')]

In [67]:
# flatten a list using a list comprehension with two 'for'
dense_list = [[1,2,3], [4,5,6], [7,8,9]]
[elem for item_list in dense_list for elem in item_list]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## Tuples

> Tuples are just like list, except for a couple of key differences. It's immutable unlike lists and it uses parenthisis instead of square brackets

#### Initialization

In [2]:
tuple1 = (1,2,3,4,5)
tuple2 = ("alpha", "beta", "gamma", "delta", "epsilon", "zeta")
# this is super lazy
tuple3 = "a", "b", "c", "d"

In [4]:
# but doesn't make a difference
type(tuple3)

tuple

In [6]:
# Empty tuple
tuple4 = ()
type(tuple4)

tuple

In [8]:
tuple5 = (1)
type(tuple5)

int

In [9]:
#whoops
tuple5

1

In [10]:
# So if you have only one element, you need to add a comma at the end to make it a tuple like this
tuple5 = (1,)
type(tuple5)

tuple

In [11]:
# see ...
tuple5

(1,)

#### Access

In [12]:
# Just like lists. Index starts at '0'
tuple3[1]

'b'

In [13]:
# slicing is also possible
tuple1[1:3]

(2, 3)

In [15]:
# step function also works just like a list
tuple2[1::2]

('beta', 'delta', 'zeta')

In [16]:
tuple1[3] = "4"

TypeError: 'tuple' object does not support item assignment

In [18]:
# Told ya it's immutable

In [19]:
# But concatenation is possible
tuple1 + tuple3

(1, 2, 3, 4, 5, 'a', 'b', 'c', 'd')

In [21]:
tuple5 + tuple2[2: -1]

(1, 'gamma', 'delta', 'epsilon')